@import "../../vars.scss";
@import url("https://use.typekit.net/drz2vvu.css");

.password-reset {
  align-items: center;
  background: var(--base--black);
  color: var(--base--white);
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 100vh;
  text-align: center;
  justify-content: center;
  line-height: 2.8;
  text-align: left;

  .password-reset--input {
    border-radius: var(--border-radius--lg);
    font-size: 17px;
    padding: 4px;
    width: 246px;
  }

  .password-reset--button {
      background: none;
      border: 1px solid var(--base--white);
      border-radius: var(--border-radius--lg);
      color: var(--base--white);
      cursor: pointer;
      font: 12px/15px "Proxima Nova", sans-serif;
      font-weight: 600;
      margin-top: var(--spacer--sm);
      margin-left: 5px;
      min-width: 65px;
      padding: 10px 20px;
      text-transform: uppercase;
  }
}
