@import "../../vars.scss";
.results-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: var(--spacer--sm) auto;
  width: 1048px;
  .results {
    background: var(--base--white);
    border: 1px solid var(--border--color);
    border-radius: var(--border-radius--sm);
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding: var(--spacer--sm);
    width: 548px;

    .results--entry {
      display: flex;
      &::before {
        content: '\2022';
        font-size: 38px;
        padding-right: 2px;
      }
      .results--button {
        border-radius: var(--border-radius--sm);
        cursor: pointer;
        height: 36px;
        margin-left: var(--spacer--sm);
      }
    }
  }
}

