:root {
  // colors
  --base--white: #ffffff;
  --base--grey: #e8e8e8;
  // tones
  --border--color: #c8c8c8;
  // flair
  --border-radius--sm: 8px;
  --border-radius--lg: 50px;
  --border--thick: 4px;
  --spacer--sm: 20px;
  --spacer--lg: 60px;
}
