:root {
  --text: #42474c;
  // colors
  --base--white: #ffffff;
  --base--grey: #e8e8e8;
  --base--green: #004c3f;
  // tones
  --base--green--light: #96bf48;
  --border--color: #c8c8c8;
  // flair
  --border-radius--xs: 4px;
  --border-radius--sm: 8px;
  --border-radius--lg: 50px;
  --border--thick: 4px;
  --spacer--sm: 20px;
  --spacer--lg: 60px;
}
