@import "../../vars.scss";
.nominations {
  background: var(--base--white);
  border: 1px solid var(--border--color);
  border-radius: var(--border-radius--sm);
  display: flex;
  flex-direction: column;
  margin: var(--spacer--sm) 0;
  max-width: 100%;
  width: 388px;

  .nominations--header {
    padding: var(--spacer--sm) 0 0 var(--spacer--sm);
  }
  .nominations--banner {
    background: var(--base--green);
    color: var(--base--white);
    padding: var(--spacer--sm);
  }
  .nominations--list {
    padding: 0 8px;
    .nominations--entry {
      align-items: center;
      display: flex;
      &::before {
        content: '\2022';
        font-size: 38px;
        padding: 0 2px 2px 0;
      }
      .nominations--button {
        border-color: var(--border--color);
        border-radius: var(--border-radius--xs);
        cursor: pointer;
        height: 36px;
        margin-left: var(--spacer--sm);
        padding: 0 var(--spacer--sm);
      }
    }
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .nominations {
    margin: 0;
  }
}
