@import "../../vars.scss";
.main {
  background: var(--base--grey);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main--content, .main--header {
    max-width: 80%;
    width: 1048px;
    margin: var(--spacer--sm) auto;
  }
}
.dark-mode {
  filter: invert(1);
  img, video {
    filter: invert(1);
  }
}
/* Desktop */
@media only screen and (min-width: 1024px) {
  .main {
    flex-direction: row;
    .main--content {
      float: right;
    }
  }
}
