@import "../../vars.scss";
:root {
  background: var(--base--grey);
  height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  .main--content, .main--header {
    max-width: 80%;
    width: 1048px;
    margin: var(--spacer--sm) auto;
  }
}
/* Desktop */
@media only screen and (min-width: 1024px) {
  .main {
    flex-direction: row;
    .main--content {
      float: right;
    }
  }
}
